RewriteEngine on
RewriteBase /~j3-dibble/atwd/
RewriteRule ^crimes/([0-9]{1}[-]{1}[0-9]{4})/(xml|json)$ index.php?controller=crimes&action=get&year=$1&format=$2 [NC,L]
RewriteRule ^crimes/([0-9]{1}[-]{1}[0-9]{4})/([A-Za-z-]+)/(xml|json)$ index.php?controller=crimes&action=getforregion&year=$1&region=$2&format=$3 [NC,L]
RewriteRule ^import/file$ index.php?controller=import&action=file [NC,L]
RewriteRule ^import/text$ index.php?controller=import&action=text [NC,L]
RewriteRule ^import$ index.php?controller=import&action=index [NC,L]
RewriteRule ^$ index.php?controller=home&action=index [NC,L]
#RewriteRule ^(.*)$ index.php?controller=errors&action=notfound [NC,L]
RewriteRule ^(?:application|library)\b.* index.php/$0 [L]
